{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}
{% block main %}
<div class="card bg-light text-center pt-5">
    <h1 class="display-4">djangobat</h1>
    <p class="lead text-muted">Cách tùy chỉnh đăng nhập bằng email</p>
    <p>
        <a href="https://djangobat.com/blog/cach-tuy-chinh-ang-nhap-bang-email/" class="btn btn-success my-2">Xem bài viết</a>
        <a href="https://github.com/djangobat/django-login-email" class="btn btn-secondary my-2">Code Github</a>
    </p>
</div>
{% endblock main %}